[submodule "Themeing/Fonts/PowerlineFonts"]
	path = Themeing/Fonts/PowerlineFonts
	url = https://github.com/powerline/fonts
[submodule "Themeing/Fonts/FiraCode"]
	path = Themeing/Fonts/FiraCode
	url = https://github.com/tonsky/FiraCode
[submodule "Themeing/base16-iterm2"]
	path = Themeing/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2
[submodule "Themeing/gruvbox-contrib"]
	path = Themeing/gruvbox-contrib
	url = https://github.com/morhetz/gruvbox-contrib
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "Templates/readme-best-practices"]
	path = Templates/readme-best-practices
	url = https://github.com/jehna/readme-best-practices.git
[submodule "Templates/MaxwellBoGitTemplate"]
	path = Templates/MaxwellBoGitTemplate
	url = https://gist.github.com/440f26970207a0fd6e69.git
